header h1 {
    text-align: center;
}

#container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 480px;
    margin: 0 auto;
}

button {
    margin: 5px;
    padding: 25px;
    font-size: 2em;
}

#display {
    padding: 20px;
    margin: 5px;
    text-align: right;
    vertical-align: center;
    font-size: 3em;
    background-color: #eee;
}

/* Grid Layout */
#display { order: 0; grid-area: 1 / 1 / 2 / 5; }
#clear { order: 1; grid-area: 2 / 1 / 3 / 4; }
#divide { order: 2; }
#seven { order: 3; }
#eight { order: 4; }
#nine { order: 5; }
#multiply { order: 6; }
#four { order: 7; }
#five { order: 8; }
#six { order: 9; }
#subtract { order: 10; }
#one { order: 11; }
#two { order: 12; }
#three { order: 13; }
#add { order: 14; grid-area: 5 / 4 / 7 / 5; }
#zero { order: 15; }
#dot { order: 16; }
#equals { order: 17; }