header h1 {
    text-align: center;
}

#container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 480px;
    margin: 0 auto;
}

button {
    margin: 5px;
    padding: 25px;
    font-size: 2em;
}

#display {
    order: 0;
    grid-column: 1 / 5;
    padding: 20px;
    margin: 5px;
    text-align: right;
    vertical-align: center;
    font-size: 3em;
    background-color: #eee;
}

#clear {
    order: 1;
    grid-column: 1 / 4;
    grid-row: 2;
}

#divide { order: 2; }
#seven { order: 3; }
#eight { order: 4; }
#nine { order: 5; }
#multiply { order: 6; }
#four { order: 7; }
#five { order: 8; }
#six { order: 9; }
#subtract { order: 10; }
#one { order: 11; }
#two { order: 12; }
#three { order: 13; }

#add {
    order: 14;
    grid-column: 4;
    grid-row: 5 / 7;
}

#zero { order: 15; }
#dot { order: 16; }
#operate { order: 17; }